<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <h2>FX-trading System</h2>
      <div class="d-flex"></div>
      <button class="btn-success">print trade</button>
      <button class="btn-success">book trade</button>
      <button class="btn-success"> log out</button>
    </div>
  </nav> -->

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Fx-Trading System</a>
      
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
      </div>
    </div>
  </nav>